<table style="width: 100%; border-collapse: collapse; text-align: center; border: 1px solid #ddd;">
    <tr>
        <th colspan="2" style="border: 1px solid #ddd; padding: 5px;">
            <h3>{{Name}}</h3>
        </th>
    </tr>
    <tr>
        <th style="width: 20%; border: 1px solid #ddd; padding: 5px;">Other Name</th>
        <td colspan="2" style="border: 1px solid #ddd; padding: 5px;">
            <h5><i>{{Other_Name}}</i></h5>
        </td>
    </tr>
    <tr>
        <th style="width: 20%; border: 1px solid #ddd; padding: 5px;">Origin</th>
        <td style="width: 80%; border: 1px solid #ddd; padding: 5px;">{{Origin}}</td>
    </tr>
    <tr>
        <th style="width: 20%; border: 1px solid #ddd; padding: 5px;">Breed_Group</th>
        <td style="width: 80%; border: 1px solid #ddd; padding: 5px;">{{Breed_Group}}</td>
    </tr>
    <tr>
        <th style="width: 20%; border: 1px solid #ddd; padding: 5px;">Size</th>
        <td style="width: 80%; border: 1px solid #ddd; padding: 5px;">{{Size}}</td>
    </tr>
    <tr>
        <th style="width: 20%; border: 1px solid #ddd; padding: 5px;">Type</th>
        <td style="width: 80%; border: 1px solid #ddd; padding: 5px;">{{Type}}</td>
    </tr>
    <tr>
        <th style="width: 20%; border: 1px solid #ddd; padding: 5px;">Life_Span</th>
        <td style="width: 80%; border: 1px solid #ddd; padding: 5px;">{{Life_Span}}</td>
    </tr>
    <tr>
        <th style="width: 20%; border: 1px solid #ddd; padding: 5px;">Temperament</th>
        <td style="width: 80%; border: 1px solid #ddd; padding: 5px;">{{Temperament}}</td>
    </tr>
    <tr>
        <th style="width: 20%; border: 1px solid #ddd; padding: 5px;">Height</th>
        <td style="width: 80%; border: 1px solid #ddd; padding: 5px;">{{Height}}</td>
    </tr>
    <tr>
        <th style="width: 20%; border: 1px solid #ddd; padding: 5px;">Weight</th>
        <td style="width: 80%; border: 1px solid #ddd; padding: 5px;">{{Weight}}</td>
    </tr>
    <tr>
        <th style="width: 20%; border: 1px solid #ddd; padding: 5px;">Colors</th>
        <td style="width: 80%; border: 1px solid #ddd; padding: 5px;">{{Colors}}</td>
    </tr>
</table>