<table style="width: 100%; border-collapse: collapse; text-align: center; border: 1px solid #ddd;">
    <tr>
        <th colspan="2" style="border: 1px solid #ddd; padding: 5px;"><h3>{{Common_Name}}</h3></th>
    </tr>
    <tr>
        <th style="width: 20%; border: 1px solid #ddd; padding: 5px;">Scientific Name</th>
        <td colspan="2" style="border: 1px solid #ddd; padding: 5px;"><h5><i>{{Scientific_Name}}</i></h5></td>
    </tr>
    <tr>
        <th style="width: 20%; border: 1px solid #ddd; padding: 5px;">Size</th>
        <td style="width: 80%; border: 1px solid #ddd; padding: 5px;">{{Size}}</td>
    </tr>
    <tr>
        <th style="width: 20%; border: 1px solid #ddd; padding: 5px;">Color</th>
        <td style="width: 80%; border: 1px solid #ddd; padding: 5px;">{{Color}}</td>
    </tr>
    <tr>
        <th style="width: 20%; border: 1px solid #ddd; padding: 5px;">Shape</th>
        <td style="width: 80%; border: 1px solid #ddd; padding: 5px;">{{Shape}}</td>
    </tr>
    <tr>
        <th style="width: 20%; border: 1px solid #ddd; padding: 5px;">Habitat</th>
        <td style="width: 80%; border: 1px solid #ddd; padding: 5px;">{{Habitat}}</td>
    </tr>
    <tr>
        <th style="width: 20%; border: 1px solid #ddd; padding: 5px;">Diet</th>
        <td style="width: 80%; border: 1px solid #ddd; padding: 5px;">{{Diet}}</td>
    </tr>
    <tr>
        <th style="width: 20%; border: 1px solid #ddd; padding: 5px;">Role in Ecosystem</th>
        <td style="width: 80%; border: 1px solid #ddd; padding: 5px;">{{Role_in_Ecosystem}}</td>
    </tr>
    <tr>
        <th style="width: 20%; border: 1px solid #ddd; padding: 5px;">Interesting Fact</th>
        <td style="width: 80%; border: 1px solid #ddd; padding: 5px;">{{Interesting_Fact}}</td>
    </tr>
</table>